<!DOCTYPE html>
<html>
  <head>
    <title>Margarita homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="container">
      <img src="images/logo.png" alt="margarita logo" class="pull-left" id="logo">
      <h1>Welcome to margarita!</h1>
      <p>A versatile tequila spoofer.</p>


      <h2 id="status">Service status</h2>

      <h3>profiles.json</h3>
      <% if (profiles != null && Object.keys(profiles).length !== 0) { %>
        <textarea readonly class="form-control debug-view"><%= JSON.stringify(profiles, null, 4) %></textarea>
      <% } else { %>
        <p>There are no profiles currently loaded. Put your profiles in /profiles.json or rename /profiles_example.json to /profiles.json to quickly get started.</p>
      <% } %>

      <h3>Storage</h3>
      <textarea readonly class="form-control debug-view"><%= JSON.stringify(storage, null, 4) %></textarea>

      <%- docHTML %>
    </div>
  </body>
</html>
